<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscaribe</title>
</head>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" ></script>
<body>
<h1>Bienvenido a Buscaribe</h1>

 <div id="map" style="height: 700px"></div>
</body>
<script type="text/javascript">
    var map = L.map('map').setView([21.162310281950226, -86.8530133090876], 14);
    L.tileLayer('https://tile.thunderforest.com/atlas/{z}/{x}/{y}.png?apikey=51a31031f86a4699994325648e4af7f9', {
    maxZoom: 19,
    minZoom:14,
    
}).addTo(map);

const ws = new WebSocket("ws://"+window.location.host+"/ws/")
let autobuses_list = [];
ws.onopen = () => {
    ws.send(JSON.stringify({
            action: "list",
            request_id: new Date().getTime(),
        }))
  console.log('Conexión WebSocket establecida.');
};

ws.onmessage = (event) => {
  const allData = JSON.parse(event.data);
  autobuses_list = allData.data;
  console.log(autobuses_list)
  {#console.log('Mensaje recibido:', autobuses_list);#}

  // Aquí puedes manipular el mensaje recibido y mostrarlo en tu página web
  // Por ejemplo, puedes agregarlo a un div en tu HTML
  const messageDiv = document.createElement('div');
  messageDiv.textContent = autobuses_list;
  document.body.appendChild(messageDiv);
};

</script>
</html>