<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscaribe</title>
</head>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" ></script>
<body>
<h1>Bienvenido a Buscaribe</h1>

 <div id="map" style="height: 700px"></div>
 <div id="table-container"></div>
</body>
<script type="text/javascript">
    var map = L.map('map').setView([21.162310281950226, -86.8530133090876], 14);
    L.tileLayer('https://tile.thunderforest.com/atlas/{z}/{x}/{y}.png?apikey=51a31031f86a4699994325648e4af7f9', {
    maxZoom: 19,
    minZoom:14,
    
}).addTo(map);

const ws = new WebSocket("ws://"+window.location.host+"/ws/")
let autobuses_list = [];
ws.onopen = () => {
    ws.send(JSON.stringify({
            action: "list",
            request_id: new Date().getTime(),
        }))
  console.log('Conexión WebSocket establecida.');
};

ws.onmessage = (event) => {
  const allData = JSON.parse(event.data);
  if (allData.action === 'list'){
      autobuses_list = allData.data;
      if(autobuses_list.length){
          tabla_autobuses()
      }

  }
  else if(allData.action === 'update'){
      const targetId = allData.data.id;
      const targetObject = autobuses_list.findIndex(obj => obj.id === targetId);
      if (targetObject !== -1) {
          // Modificar los valores o propiedades del objeto
          console.log(targetObject)
          autobuses_list[targetObject] = allData.data;
          actualizar_tabla()
      }
    }

};

function tabla_autobuses(){
    //Tabla//
    const tableContainer = document.getElementById("table-container");
    // Crear la estructura de la tabla
    const table = document.createElement("table");
    table.id = "tabla_autobuses";
    table.classList.add("table"); // Opcional: agregar una clase CSS a la tabla
    // Crear la fila de encabezado
    const headerRow = document.createElement("tr");
    const keys = Object.keys(autobuses_list[0]);
    // Crear las celdas de encabezado
    keys.forEach(key => {
        const cell = document.createElement("th");
        cell.textContent = key;
        headerRow.appendChild(cell);
    });
    // Agregar la fila de encabezado a la tabla
    table.appendChild(headerRow);
    // Crear las filas de datos
    autobuses_list.forEach(rowData => {
        const row = document.createElement("tr");

        // Crear las celdas de datos
        keys.forEach(key => {
            const cell = document.createElement("td");
            cell.textContent = rowData[key];
            row.appendChild(cell);
        });

        // Agregar la fila de datos a la tabla
        table.appendChild(row);
    });
    // Agregar la tabla al contenedor
    tableContainer.appendChild(table);

}

function actualizar_tabla(){
    const divElement = document.getElementById("tabla_autobuses");

    // Elimina el elemento <div>
    divElement.remove();
    tabla_autobuses()
}
</script>
</html>